/dts-v1/;

#include "rk3399-roc-pc.dtsi"

/ {
	model = "Firefly roc-rk3399-pc PLUS";
	compatible = "firefly,roc-rk3399-pc", "rockchip,rk3399";

	es8388-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,es8388-codec";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,cpu {
			sound-dai = <&i2s1>;
			system-clock-frequency = <11289600>;
		};
		simple-audio-card,codec {
			sound-dai = <&es8388>;
			system-clock-frequency = <11289600>;
		};
	};
	/delete-node/ vcc_hub_en-regulator;

	leds {
		compatible = "gpio-leds";

		FAN_EN {
			//fan power
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;	//GPIO1_A1
			default-state = "on";
		};
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "ap6356s";
		sdio_vref = <1800>;
		WIFI,host_wake_irq = <&gpio0 3 GPIO_ACTIVE_HIGH>; /* GPIO0_a3 */
		status = "okay";
	};

	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&rk808 1>;
		clock-names = "ext_clock";
		//wifi-bt-power-toggle;
		uart_rts_gpios = <&gpio2 19 GPIO_ACTIVE_LOW>; /* GPIO2_C3 */
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart0_rts>;
		pinctrl-1 = <&uart0_gpios>;
		//BT,power_gpio  = <&gpio3 19 GPIO_ACTIVE_HIGH>; /* GPIOx_xx */
		BT,reset_gpio    = <&gpio0 9 GPIO_ACTIVE_HIGH>; /* GPIO0_B1 */
		BT,wake_gpio     = <&gpio2 26 GPIO_ACTIVE_HIGH>; /* GPIO2_D2 */
		BT,wake_host_irq = <&gpio0 4 GPIO_ACTIVE_HIGH>; /* GPIO0_A4 */
		status = "okay";
	};
};


// /* RTC */

&rk808{
	rtc {
		status = "disabled";
	};
};

&i2c0 {
	status = "okay";
	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		interrupt-parent = <&gpio1>;
		interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
	};
};


&i2c4 {
	/delete-node/ fusb30x@22;
};

&fusb0 {
	//fusb302,role = "ROLE_MODE_DFP";
	vbus-5v-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
};

&cdn_dp {
	status = "okay";
	extcon = <&fusb0>;
	phys = <&tcphy0_dp>;
};

&tcphy1 {
	/delete-property/ extcon;
};

&u2phy1 {
	/delete-property/ extcon;
};

&usbdrd3_1 {
	/delete-property/ extcon;
};







&i2s1 {
	status = "okay";
};

&dmc {
	status = "disabled";
};

&rk808 {
	/delete-property/ pmic,hold-gpio;
};

&i2c1 {
	status = "okay";
	es8388: es8388@11 {
		compatible = "everest,es8323";
		status = "okay";
		reg = <0x11>;
		hp-det-gpio = <&gpio2 6 GPIO_ACTIVE_HIGH>;
		hp-ctl-gpio = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		clock-names = "mclk";
		clocks = <&cru SCLK_I2S_8CH_OUT>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s_8ch_mclk>;
		pinctrl-1 = <&ear_ctl_h>;
		#sound-dai-cells = <0>;
	};
};



&pinctrl {
	 es8388-pins {
		ear_ctl_h: ear-ctl-h {
                        rockchip,pins = <0 2 RK_FUNC_GPIO &pcfg_pull_down>;
                };
	};

	wireless-bluetooth {
		uart0_gpios: uart0-gpios {
			rockchip,pins =
				<2 19 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

};

/*
&fusb0 {
	status = "disabled";
};


&fusb1 {
	status = "disabled";
};
*/
